.navbar-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    border: calc(1px * var(--mult)) solid #E4E3EB;
    padding: calc(22px * var(--mult)) calc(76px * var(--mult)) calc(22px * var(--mult)) calc(76px * var(--mult));
}

.navbar-center {
    justify-content: center;
}

.redberry-logo {
    width: calc(150px * var(--mult));
    height: calc(24px * var(--mult));
}
