.email-field-container {
  width: 100%;
}

.email-field {
  outline: none;
  padding: calc(8px * var(--mult));
  font-size: calc(16px * var(--mult));
  border: calc(1.5px * var(--mult)) solid #ccc;
  border-radius: calc(12px * var(--mult));
  width: 100%;
}

.email-label {
  display: block;
  margin-bottom: calc(8px * var(--mult));

  font-weight: 500;
  font-size: calc(14px * var(--mult));
  line-height: calc(20px * var(--mult));
}

.email-field:focus {
  border: calc(1.5px * var(--mult)) solid var(--border-selected-field-color);
  background-color: var(--inside-selected-field-color);
}
