.filter-item {
  padding: calc(8px * var(--mult)) calc(16px * var(--mult))
    calc(8px * var(--mult)) calc(16px * var(--mult));
  border-radius: calc(30px * var(--mult));
  font-weight: 500;
  font-size: calc(12px * var(--mult));
  line-height: calc(16px * var(--mult));
  height: fit-content;
  width: fit-content;
  white-space: nowrap;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.filter-item-interactive {
  cursor: pointer;
}

.filter-item-selected {
  border: calc(1px * var(--mult));
  border-color: black;
  border-style: solid;
}

.filter-item-margin {
  margin: calc(5px * var(--mult));
}

.x-filter-item{
  width: calc(16px * var(--mult));
  height: calc(16px * var(--mult));
  margin-left: calc(7px * var(--mult));
  fill: white;
  
}
.title-x {
  display: flex;
  fill: white;

}