.background {
  width: 100vw;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: var(--background-color);
}
.blog-image-row {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 100px 100px 15px 100px;;
}

.blog-text {
  font-weight: 700;
  font-size: 64px;
  line-height: 72px;
  margin: 0px 0px 10px 10px;
}