.background {
  /* width: 100vw; */
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: var(--background-color);
}
.blog-image-row {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: calc(70px * var(--mult)) 0px calc(28px * var(--mult)) 0px;
  margin-bottom: calc(5px * var(--mult));
}
.page-container{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 0px calc(76px * var(--mult)) 0px calc(76px * var(--mult));
}

.main-blog-text {
  font-weight: 700;
  font-size: calc(64px * var(--mult));
  line-height: calc(72px * var(--mult));
  margin: 0px 0px calc(10px * var(--mult)) calc(10px * var(--mult));
}

.main-blog-image {
  width: calc(624px * var(--mult));
  height: calc(200px * var(--mult));
  margin-right: calc(10px * var(--mult));
}