@import url('https://free.bboxtype.com/embedfonts/?family=FiraGO:500');
:root {
  --background-color: #F3F2FA;
  --button-color: #5D37F3;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "FiraGO",-apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}