@import url("https://free.bboxtype.com/embedfonts/?family=FiraGO:500,400,300,200,600");
:root {
  --background-color: #f3f2fa;
  --button-color: #5d37f3;
  --mult: 1920 / 1440;
  --main-text-color: #1a1a1f;
  --date-text-color: #85858d;
  --blog-description-text-color: #404049;
  --disabled-arrow-button: #E4E3EB;
}
* {
  user-select: none;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: var(--main-text-color);
  font-family: "FiraGO", -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
    "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  background-color: var(--background-color);
}