.button {
    padding: calc(10px * var(--mult)) calc(20px * var(--mult)) calc(10px * var(--mult)) calc(20px * var(--mult));
    font-weight: 500;
    font-size: calc(14px * var(--mult));
    line-height: calc(20px * var(--mult));
    background-color: var(--button-color);
    color: white;
    border-radius: calc(8px * var(--mult));
    
}
.button-full-width {
    width: 100%;
    text-align: center;
    margin-top: calc(15px * var(--mult));
}