.blog-item {
  width: calc(408px * var(--mult));
  height: calc(620px * var(--mult));
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}

.blog-item-page {
  width: calc(720px * var(--mult));
  height: auto;
  margin-top: calc(46px * var(--mult));
  margin-bottom: calc(20px * var(--mult));
}

.image-container {
  width: 100%;
  height: calc(328px * var(--mult));
  border-radius: 10px;
  overflow: hidden;
}

.blog-image {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.author-text {
  font-weight: 500;
  font-size: calc(16px * var(--mult));
  line-height: calc(20px * var(--mult));
}

.author-text-page {
  margin-top: calc(36px * var(--mult));
  margin-bottom: calc(10px * var(--mult));
}


.publish-date-text {
  font-weight: 400;
  font-size: calc(12px * var(--mult));
  line-height: calc(16px * var(--mult));
  color: var(--date-text-color);
}

.title-text {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2; /* Number of lines to show before truncating */
  -webkit-box-orient: vertical;
  font-weight: 500;
  font-size: calc(20px * var(--mult));
  line-height: calc(28px * var(--mult));
  height: calc(56px * var(--mult));
}

.title-text-page {
  overflow: visible;
  display: block; 
  -webkit-box-orient: inline-axis; 
  height: fit-content;

  font-weight: 700;
  font-size: calc(32px * var(--mult));
  line-height: calc(40px * var(--mult));

  margin-top: calc(26px * var(--mult));
  margin-bottom: calc(5px * var(--mult));
}

.blog-description-text {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2; 
  -webkit-box-orient: vertical;

  font-weight: 400;
  font-size: calc(16px * var(--mult));
  line-height: calc(28px * var(--mult));
  color: var(--blog-description-text-color);

  height: calc(56px * var(--mult));
}
.blog-description-text-page {
  overflow: visible;
  display: block; 
  -webkit-box-orient: inline-axis; 
  height: fit-content;
  margin-top: calc(20px * var(--mult));
}

.to-blog-button {
  display: flex;
  flex-direction: row;
  cursor: pointer;
}
.to-blog-button-text {
  color: var(--button-color);
  font-weight: 500;
  font-size: calc(14px * var(--mult));
  line-height: calc(20px * var(--mult));
}

.arrow {
    width: calc(20px * var(--mult));
    height: calc(20px * var(--mult));
}

